<div class="container">

<p>My todos</p>

<form role="form" ng-submit="addTodo()">
  <div class="row">
    <div class="input-group">
      <input class="form-control" type="text" ng-model="todo" placeholder="What needs to be done?">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-primary" value="add">
      </span>
    </div>
    <br>
  </div>
</form>

  <div ui-sortable ng-model="todos">
    
    <p class="input-group"  ng-repeat="todo in todos" style="padding:5px; 10px; cursos:move;">
        <input type="text" ng-model="todo" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
        </span> 
    </p>

  </div>
</div>
